bower_components
morgues
tmp
__pycache__
database.db
test.py
.idea
cached
database.py.*
node_modules
bck

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.tar.gz
database
