.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #000000;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}

#search-btn
{
    margin: 0px 4px;
}

main .form-control
{
    /* center form controls */
    /* display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    /*width: auto;*/
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    text-align:left;
    padding:10px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #AAAAFF;
    color: black;
}
